<h1>非表示タスク一覧</h1>
<% @tasks.each do |task| %>
  <% if task.is_display == false %>
    <ul>
      <li>
        <%= link_to task.title, task %>
        <%= task.created_at.strftime('%Y年%m月%d日') %>
      </li>
    </ul>
  <% end %>
<% end %>
<%= link_to "一覧", tasks_path %>